@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  background-color: #eeeeee; }

body {
  width: 980px;
  height: 1386px;
  margin: 0 auto;
  background: #ffffff; }

.top, article, footer {
  margin: 0 44px; }

.top {
  border-bottom: 2px solid #938e8c; }
  .top .logo {
    position: relative;
    width: 110px;
    height: 60px;
    background: #d45d5c; }
    .top .logo p {
      position: absolute;
      left: 5px;
      bottom: 5px;
      font: 12px "黑体";
      color: #ffffff; }
  .top .date-time {
    float: right;
    margin-top: 40px;
    margin-bottom: 5px;
    font: 12px "黑体";
    color: #d45d5c; }

.first-article {
  margin-top: 25px; }
  .first-article header {
    float: right;
    width: 203px;
    border-top: 2px solid #cc8091; }
    .first-article header .title1, .first-article header .title2 {
      display: inline-block;
      font: 24px/40px "MicrosoftYaHei";
      text-transform: uppercase;
      border-bottom: 2px solid #000; }
      .first-article header .title1 span, .first-article header .title2 span {
        font-size: 20px; }
    .first-article header .subtitle {
      margin-top: 5px;
      font: 12px/10px "STKaitiSC-Kai";
      color: #676767; }
    .first-article header .large-green-num {
      margin-top: 17px;
      color: #75b86b;
      font: italic 116px/1 "MicrosoftYaHei"; }
    .first-article header .bottom-pink-num {
      line-height: 55px;
      color: #cc8091;
      font-family: "MicrosoftYaHei"; }
      .first-article header .bottom-pink-num .left-num {
        font-size: 55px; }
      .first-article header .bottom-pink-num .right-description {
        float: right;
        margin-top: 18px;
        margin-right: 35px; }
        .first-article header .bottom-pink-num .right-description p:first-child {
          font-size: 21px;
          line-height: 21px; }
        .first-article header .bottom-pink-num .right-description p:last-child {
          color: grey;
          font-size: 12px;
          line-height: 12px; }
  .first-article .tenochologe-img {
    position: relative;
    width: 641px;
    height: 301px; }
    .first-article .tenochologe-img img {
      width: 641px;
      height: 301px; }
    .first-article .tenochologe-img .green-mask, .first-article .tenochologe-img .pink-mask {
      position: absolute;
      width: 191px;
      height: 301px; }
    .first-article .tenochologe-img .green-mask {
      background: #a0c5ac77; }
    .first-article .tenochologe-img .pink-mask {
      right: 0;
      bottom: 0;
      background: #e5babf77; }
  .first-article .detail {
    display: flex;
    align-items: flex-start;
    width: 641px;
    height: 170px;
    margin-top: 40px; }
    .first-article .detail .detail-container.left {
      width: 31%; }
    .first-article .detail .detail-container.middle {
      width: 31%;
      margin-left: 28px;
      margin-right: 28px; }
    .first-article .detail .detail-container.right {
      width: 31%; }
      .first-article .detail .detail-container.right ul {
        list-style: none;
        margin-top: 70px;
        padding-top: 25px;
        color: #231815b3;
        font: 12px/16px "MicrosoftYaHei"; }
        .first-article .detail .detail-container.right ul span {
          font-style: italic;
          color: #cd4a48b3; }
    .first-article .detail .detail-title {
      font: bold 16px "MicrosoftYaHei";
      text-decoration: underline; }
      .first-article .detail .detail-title.green {
        color: #418c59; }
      .first-article .detail .detail-title.brown {
        color: #d2994f; }
      .first-article .detail .detail-title.pink {
        color: #cc7680; }
    .first-article .detail .content {
      margin-top: 11px;
      color: #231815b3;
      font: 12px/16px "MicrosoftYaHei"; }

/*# sourceMappingURL=main.css.map */
