$red-color: #d45d5c;

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #eeeeee;
}

body {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    background: #ffffff;
}

.top, article, footer {
    margin: 0 44px;
}

.top {
    border-bottom: 2px solid #938e8c;

    .logo {
        // display: inline-block;
        position: relative;
        width: 110px;
        height: 60px;
        background: $red-color;

        p {
            position: absolute;
            left: 5px;
            bottom: 5px;
            font: 12px "黑体";
            color: #ffffff;
        }
    }

    .date-time {
        float: right;
        margin-top: 40px;
        margin-bottom: 5px;
        font: 12px "黑体";
        color: #d45d5c;
    }
}

.first-article {

    margin-top: 25px;

    header {
        float: right;
        width: 203px;
        border-top: 2px solid #cc8091;

        .title1, .title2 {
            display: inline-block;
            font: 24px/40px "MicrosoftYaHei";
            text-transform: uppercase;
            border-bottom: 2px solid #000;

            span {
                font-size: 20px;
            }
        }

        .subtitle {
            margin-top: 5px;
            font: 12px/10px "STKaitiSC-Kai";
            color: #676767;
        }

        .large-green-num {
            margin-top: 17px;
            color: #75b86b;
            font: italic 116px/1 "MicrosoftYaHei";
        }

        .bottom-pink-num {
            line-height: 55px;
            color: #cc8091;
            font-family: "MicrosoftYaHei";

            .left-num {
                font-size: 55px;
            }

            .right-description {
                float: right;
                margin-top: 18px;
                margin-right: 35px;

                & p:first-child {
                    font-size: 21px;
                    line-height: 21px;
                }
                & p:last-child {
                    color: grey;
                    font-size: 12px;
                    line-height: 12px;
                }
            }
        }
    }

    .tenochologe-img {
        position: relative;
        width: 641px;
        height: 301px;

        img {
            width: 641px;
            height: 301px;
        }

        .green-mask, .pink-mask {
            position: absolute;
            width: 191px;
            height: 301px;
        }

        .green-mask {
            background: #a0c5ac77;
        }

        .pink-mask {
            right: 0;
            bottom: 0;
            background: #e5babf77;
        }
    }

    .detail {
        display: flex;
        align-items: flex-start;
        width: 641px;
        height: 170px;
        margin-top: 40px;

        .detail-container {
            &.left {
                width: 31%;
            }

            &.middle {
                width: 31%;
                margin-left: 28px;
                margin-right: 28px;
            }

            &.right {
                width: 31%;

                ul {
                    list-style: none;
                    margin-top: 70px;
                    padding-top: 25px;
                    color: #231815b3;
                    font: 12px/16px "MicrosoftYaHei";

                    & span {
                        font-style: italic;
                        color: #cd4a48b3;
                    }
                }
            }
            
        }



        & .detail-title {
            font: bold 16px "MicrosoftYaHei";
            text-decoration: underline;

            &.green {
                color: #418c59;
            }

            &.brown {
                color: #d2994f;
            }

            &.pink {
                color: #cc7680;
            }
        }

        & .content {
            margin-top: 11px;
            color: #231815b3;
            font: 12px/16px "MicrosoftYaHei";
        }
    }
}

.last-article {
    display: flex;
    margin-top: 75px;

    .left-side {
        width: 415px;

        .en-title {
            text-transform: uppercase;
            color: #11456b;
            font: bold 42px/16px "SimHei";

            span {
                padding-right: 20px;
                font: bold italic 72px "SimHei";
                color: #f5e327;
            }
        }

        .zh-title {
            margin: 15px 0;
            padding: 15px 0;
            border-bottom: 2px solid #11456b;
            color: #11456b;
            font: bold 33px "SimHei";
        }

        div {
            float: left;
            margin-right: 15px;
            color: #f5e327;
            font: 72px "MicrosoftYaHei";
            line-height: 72px;
        }

        .content {
            color: #767777;
            font: 12px/16px "SimSun";

            &.indent {
                text-indent: 24px;
            }

            img {
                float: right;
                margin: 10px 0 10px 10px;
            }
        }
    }
    
    .right-side {
        margin-left: 20px;
        

        .image {
            position: relative;
            width: 458px;
                height: 275px;

            img {
                width: 100%;
                height: 100%;
            }

            .mask {
                display: -webkit-box;
                -webkit-box-align: center;
                position: absolute;
                height: 61px;
                right: 0;
                bottom: 0;
                left: 0;
                background-image: url("../source/img02-mask.png");

                .title {
                    color: #ffffff;
                    font: 26px "MicrosoftYaHei";
                    &::before {
                        content: "";
                        margin-right: 15px;
                        margin-left: 45px;
                        height: 44px;
                        border-left: 3px solid #72b16a;
                    }

                    span {
                        color: #72b16a;
                        font: italic 12px "MicrosoftYaHei";
                    }
                }
            }
        }

        .right-bottom-content {
            background: #eeedd6;
            margin-top: 30px;
            ul {
                list-style: none;
                padding-top: 30px;
                // margin-top: 35px;
                // margin-bottom: 30px;
                li {
                    margin-left: 25px;
                    padding: 16px 0 5px;
                    color: #5a5b5b;
                    font: 15px "SimSun";

                    &::before {
                        display: inline-block;
                        vertical-align: middle;
                        content: " ";
                        margin-right: 10px;
                        border-bottom: 6px solid #000000;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                    }

                    span {
                        font: italic 12px "SimSun";
                        text-align: right;
                    }
                }
            }

            .bottom {
                display: flex;
                margin-top: 30px;
                // width: 260px;
                height: 160px;
                vertical-align: middle;

                .left-content {
                    display: flex;
                    width: 260px;
                    height: 160px;
                    align-items: center;
                    background: #d45d5c;

                    .left-num {
                        position: relative;
                        
                        margin-left: 12px;
                        color: #ffffff;
                        font: 110px/160px "MicrosoftYaHei";

                        &::after {
                            position: absolute;
                            content: " ";
                            width: 2px;
                            height: 86px;
                            border-left: 2px solid #ffffff;
                            top: 37px;
                            right: -10px;
                            color: #ffffff;
                        }
                    }

                    .right-num {
                        margin-left: 20px;
                        
                        .num {
                            line-height: 24px;
                            color: #ffffff;
                            font: italic 21px "SimHei";
                            text-transform: uppercase;
                        }

                        .description {
                            color: #ffffff;
                            font: 12px "SimHei";
                        }
                    }
                }

                .right-content {
                    position: relative;
                    width: 165px;
                    margin-left: 15px;
                    padding-top: 20px;
                    color: #5a5b5b;
                    font: italic 14px "SimHei";
                    line-height: 16px;
                    text-indent: 40px;

                    & .sign {
                        position: absolute;
                        width: 72px;
                        height: 72px;
                        color: #d45d5c;
                        font: 72px "SimHei";

                        &.one {
                            top: 0;
                            left: -72px;
                        }

                        &.two {
                            bottom: -10px;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin-top: 40px;
    border-top: 1px solid #938e8c;    
    
    p {
        float: right;
        margin-top: 5px;
        color: #d45d5c;
        font: 12px "SimHei";
    }
}